
<div class="container-fluid min-vh-100 d-flex flex-column" style="background-color : lightgray;">
  <div class="row">
    <div class="col-md-2 p-0 shadow-sm bg-white sidebar-col">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-md-10 py-4 content-col">
      <div class="text-center mb-2 float-start">
        <%= link_to articals_path, class: "text-decoration-none text-dark fw-bold d-inline-flex align-items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill me-2" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg>
        <% end %>
      </div>

      <h1 class="text-center mb-4">Article Details</h1>
      <div class="container">
        <div class="row">
          <div class="col-lg-11 mx-auto">
            <div class="card shadow-lg mb-4 bg-body rounded border-0"> 
              <div class="card-header text-bg-secondary text-center fst-italic">
                By Sagheer Ahmad
              </div>
              <div class="card-body p-4 text-center">
                <h2 class="card-title text-primary mb-1"><%= @artical.title %></h2>
                <div class="mt-2 mb-3">
                  <span class="badge bg-info text-dark "><%= @artical.category %></span>
                </div>
                <div class="card-text">
                  <%= simple_format(@artical.description) %>
                </div>
              </div>
              <div class="card-footer text-muted text-center py-2">
                Posted on <%= @artical.created_at.strftime("%B %d, %Y") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>